<section id="single_vacation">

    <div id="vacation_title">
        <h2>{{vacayData.vacation_name}}</h2>
            <h3>{{vacayData.vacation_year}}</h3>
    </div>

    <div id="vacation_info">
        <img src="/images/{{vacayData.vacation_img_large}}" class="vacay-main-img" alt="vacation image">
            <p>{{vacayData.vacation_description}}</p>
                <img src="/images/{{vacayData.vacation_flag}}" class="vacay-flag" alt="vacation flag">
    </div>

</section>