{{!-- <h1>Weclome to {{vacayData.vacation_name}}'s bio page!</h1>
<img src="/images/{{vacayData.vacation_img}}" alt="bio image">
<h3>About {{vacayData.vacation_name}}</h3>
<p>{{vacayData.vacation_description}}</p> --}}


<section id="single_vacation">

    <div id="vacation_title">
        <h1>{{vacayData.vacation_name}}</h1>
            <h2>{{vacayData.vacation_year}}</h2>
            <img src="/images/{{vacayData.vacation_flag}}" alt="vacation flag">
    </div>

    <div id="vacation_info">
        <img src="/images/{{vacayData.vacation_img}}" alt="vacation image">
            <p>{{vacayData.vacation_description}}</p>
    </div>

    <div>
        
    </div>

</section>